h1 {
    font-family: helvetica, arial, sans-serif;
    text-align: center;
    color: white;
}
  
body {
    width: 640px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/adc30467-0b37-4bbf-a24b-e050748b0ed2/ded1wrc-42a0a3af-32c6-4124-8908-1a0b8c4b905d.png/v1/fill/w_1192,h_670,q_70,strp/phineas_and_ferb___doofenshmirtz__lab_by_thekrisboii_ded1wrc-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvYWRjMzA0NjctMGIzNy00YmJmLWEyNGItZTA1MDc0OGIwZWQyXC9kZWQxd3JjLTQyYTBhM2FmLTMyYzYtNDEyNC04OTA4LTFhMGI4YzRiOTA1ZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.HvV1yLK5gRwAYACXK8DAXbz_LUVGAs8og3rDHfA0-F0");
    background-size: 100vw;
}
  
.full-img {
    position: relative;
    display: block;
    width: 640px;
    height: 480px;
}
  
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 480px;
    background-color: rgba(0,0,0,0);
}
  
button {
    border: 0;
    background: rgba(185, 184, 184, 0.6);
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
}
  
.thumb-bar img {
    display: block;
    width: 15%;
    float: left;
    cursor: pointer;
}

.displayed-img {
    width: 480px;
}