/* General styles */
body {
  margin: 0;
}

html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}

.card {
  width: 35em;
  height: 22em;
  margin: 1em auto;
  background-color: rgb(174, 0, 0);
  border: 0.2em solid black;
  border-radius: 1.5em;
  text-decoration-color: #ccc;
}

.card header, .card footer {
  padding: 1em;
  height: 3em;
  color: #000000;
}

.card article, .mycard article {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)),
  linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
  background-blend-mode: overlay;
  height: 12em;
  position: relative;
  z-index: 1;
}

.card article img {
  max-height: 100%;
  float: right;
  height: 12em;
  background-color: #610a0a;
}

p, h2 {
  margin: 0;
  font-size: 10px;
}

article p {
  padding: 2em;
  color: #ccc;
}

article {
    background-image: linear-gradient(to bottom,rgba(0,0,0,.6), rgba(0,0,0,0.6));
    height: 12em;
}

.card article, .mycard article {
  background: linear-gradient(to bottom, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)),
  linear-gr