body {
    padding: .5em;
    background: url('../img/calvinKlein.jpg') no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 0;
}

.calvinKlein {
    position: absolute;
    width: 30vw;
    height: 5vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    z-index: 1;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
    padding: .5em;
}

.price {
    position: absolute;
    width: 30vw;
    height: 3vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    z-index: 1;
    font-family: "Lucida Console", "Couri