body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(131, 93, 176);
    font-family: "Copperplate", fantasy;
}

nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(116, 193, 161);
}

nav a{
    width:10vw;
    text-align: center;
    text-decoration: none;
    color:rgb(96, 5, 152);
}

img{
    width:213px;
    height: 469px;
    transition-duration: 3s;
}

img:hover {
    width: 30px;
    height: 1000px;
}

h1{
    color: rgb(0, 0, 0)
}

#red-ball{
    background-color: rgb(105, 114, 3);
    width: 50px;
    height:50px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}

div {
    position: relative;
    animation-name: box;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes box {
    0%   {
        background-color:rgb(105, 114, 3);
        left: 0vw; top:0vh;
    }
    25%  {
        left: 50vw; top: 100vh;
    }
    50%  {
        background-color:rgb(96, 5, 152);
        left: 100vw; top: 0vh;
    }
    75%  {
        left: 50vw; top: 50vh;
    }
    100% {
        background-color:rgb(105, 114, 3);
        left: 0vw; top:0vh;
    }
}