/* neon green: #51de00
/* bright pink: #a6024b
/* periwinkle (not gross light color): #8ac6ff
*/
body {
    background-image: url("galaxy3.jpg");
    background-size: contain;
    background-repeat: no repeat;
    background-size: 100vw;
    color: #8ac6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1 {
    color: #51de00;
    font-family: "Lucida Sans Typewriter", monospace;
    text-decoration:underline overline;
    text-decoration-style: wavy;
    font-size: 50px;
}
h2 {
    color: #8ac6ff;
    font-family: "Lucida Sans Typewriter", monospace;
    font-size: 30px;
}
h3 {
    color: #51de00;
    font-family: "Lucida Sans Typewriter", monospace;
    font-size: 30px;
}
.box {
    width: 60%;
    background-color: #a6024b;
    border-radius: 40px;
    border-style: dotted;
    border-width: 5px;
    display: grid;
    padding: 30px;
    margin: 50px;
}
.box > div {
    margin: 30px;
    padding: 40px;
}
.constellation {
    position: relative;
    width: 90vw;
    height: 100vh;
    margin-bottom: 200px;
}
.star {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
.star:hover {
    display: block;
    background-color: #a6024b;
}
.star:nth-child(1) { 
    top: 10%; 
    left: 20%; 
}
.star:nth-child(2) { 
    top: 20%; 
    left: 85%; 
}
.star:nth-child(3) { 
    top: 30%; 
    left: 11%; 
}
.star:nth-child(4) { 
    top: 40%; 
    left: 54%; 
}
.star:nth-child(5) { 
    top: 50%; 
    left: 31%; 
}
.star:nth-child(6) {
    top: 60%;
    left: 88%;
}
.star:nth-child(7) {
    top: 70%;
    left: 1%;
}
.star:nth-child(8) {
    top: 80%;
    left: 46%;
}
.star:nth-child(9) {
    top: 90%;
    left: 12%;
}
.star:nth-child(10) {
    top: 100%;
    left: 67%;
}
html {  
    scroll-behavior: smooth;  
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 2;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #51de00;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 15px;
  }
  
  #myBtn:hover {
    background-color: #555;
  }
  hr {
    color: white;
    z-index: 100;
  }