/* neon green: #51de00
/* bright pink: #a6024b
/* periwinkle (not gross light color): #8ac6ff
*/
body {
    background-image: url("https://wallpapers.com/images/hd/green-galaxy-4szixw0b8f85fajn.jpg");
    background-size: contain;
    background-repeat: no repeat;
    color: #8ac6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1 {
    color: #51de00;
    font-family: "Lucida Sans Typewriter", monospace;
    font-family:'Lucida Sans Regular', Geneva, Verdana, sans-serif
}
h2 {
    color: #8ac6ff;
    font-family: "Lucida Sans Typewriter", monospace;
}
h3 {
    color: #51de00;
    font-family: "Lucida Sans Typewriter", monospace;
}
.box {
    width: 80%;
    background-color: #a6024b;
    border-radius: 40px;
    border-style: dotted;
    border-width: 3px;
    display: grid;
    padding: 20px;
    margin: 20px;
}
.box > div {
    margin: 30px;
    padding: 20px;
}
.constellation {
    position: relative;
    width: 400px;
    height: 800px;
    margin-bottom: 200px;
}
.star {
    position: absolute;
    width: 120px;
    height: 120px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    transition: 0.5s;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    padding: 15px;
}
.starB {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    transition: 0.5s;
}
.starC {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    transition: 0.5s;
}
.star:hover {
    display: block;
    background-color: #a6024b;
}
.star:nth-child(1) { 
    top: 10%; 
    left: 20%; 
}
.star:nth-child(2) { 
    top: 20%; 
    left: 85%; 
}
.star:nth-child(3) { 
    top: 30%; 
    left: 11%; 
}
.star:nth-child(4) { 
    top: 40%; 
    left: 74%; 
}
.star:nth-child(5) { 
    top: 50%; 
    left: 31%; 
}
.star:nth-child(6) {
    top: 60%;
    left: 88%;
}
.star:nth-child(7) {
    top: 70%;
    left: 1%;
}
.star:nth-child(8) {
    top: 80%;
    left: 86%;
}
.star:nth-child(9) {
    top: 90%;
    left: 12%;
}
.star:nth-child(10) {
    top: 100%;
    left: 67%;
}
html {  
    scroll-behavior: smooth;  
}