@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@500&family=Source+Code+Pro:wght@400;700&display=swap');

@property --card-bg {
  syntax: "<color>";
  inherits: false;
  initial-value: #e8baba;
}

@property --shine-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: #e6d4a6;
}

@property --shine-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: #dc6851;
}

.card {
  border-radius: 1rem;
  max-width: 36ch;
  padding: 2rem;
  background: radial-gradient(
      300px circle at 55% 60% in oklab, 
      var(--shine-2), transparent 100% 100%
    ), radial-gradient(
      farthest-side circle at 75% 30% in oklab, 
      var(--shine-1) 0%, var(--card-bg) 100%
    );
  background-blend-mode: color-burn;
  animation: animate-color-1 8s infinite linear alternate, 4s animate-color-2 1s infinite linear alternate;
}

@keyframes animate-color-1 {
  from {
    --shine-1: initial;
  }
  to {
    --shine-1: rgb(255, 140, 0);
  }
}

@keyframes animate-color-2 {
  from {
    --shine-2: initial;
  }
  to {
    --shine-2: rgb(246, 255, 0);
  }
}

/* Lalala / Etc */
body {
  font-family: 'Source Code Pro', system-ui;
  display: grid;
  min-height: 100dvh;
  place-content: center;
  background-color: black;
}
span {
  font-weight: 700;
  font-size: 90%;
  color: rgb(153, 85, 51);
  background: #d5bbbba8;
  padding: 0 0.25em 0;
}
h2 {
  font-family: 'Anybody';
  margin-top: 0.5rem;
}
.card {
  display: grid;
  gap: 2rem;
}
* {
    margin: 0;
    padding: 0;
  }
  
