body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #300d03;
  }
  
  .container {
    position: relative;
  }

  .text:focus {
    outline: none;
  }
  
  
  .text {
    filter: url(#sticker);
    color: #999;
    font-size: 2rem;
    font-weight: bold;
  
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    outline: none;
  }